.header {
  top:0;
  margin-top:0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.87);
  padding: 7px 10px;
}

.header a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  border-radius: 4px;
}

.header a.active {
  background-color: #074e69;
  color: whitesmoke;
}

.header-right {
  float: right;
}
