.row{
  text-align: left;
  padding: 5px;
}

label{
  position: center;
}

input{
  position: center;
  float: right;
  background-color: whitesmoke;
  border: none;
  inline-size: 60%;
}

input.ng-invalid.nd-dirty{
  border-bottom-color: indianred;
  box-shadow: 0 1px, 0 0;
}

.submit{
  margin-top: 20px;
  float: right;
}
